.root {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}

img {
    width: 100%;
    object-fit: cover;
}

.divider {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.459);
}

.add-review {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.add-review span {
    margin-right: 10px;
}

.add-review input {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    column-gap: 20px;
    width: 100%;
    align-items: start;
    flex-direction: row;
}

textarea {
    min-width: 500px;
}

.input {
    row-gap: 10px;
    align-items: end;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}