<div class="root">
    <h1>{{recipe.title}}</h1>

    <img [src]="recipe.imageUrl" alt="">

    <p>by <a href="">{{recipe.author.userName}}</a></p>

    <p [innerHTML]="recipe.description"></p>

    <div class="divider"></div>

    <h3>Reviews</h3>


    <form class="add-review" [formGroup]="form" (ngSubmit)="addComment()">
        <p>
            <span>Rate and comment</span>
            <p-rating formControlName="stars" [cancel]="false"></p-rating>
        </p>
        <div class="input">
            <div class="row">
                <p-avatar [image]="currentUser?.imageUrl" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <textarea [autoResize]="true" pInputTextarea formControlName="text"></textarea>
            </div>
            <button type="button" pButton type="submit" [disabled]="!form.valid">Comment</button>
        </div>
    </form>

    <app-review *ngFor="let review of reviews" [review]="review" />
</div>