a {
    text-decoration: none;
    color: rgb(105, 105, 131);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}

.app-title {
    display: flex;
    align-items: center;
}

.app-title:hover {
    text-decoration: none;
}

.button {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-weight: bold;
}

mat-toolbar {
    background-color: white;
    color: darkslategray;
    border-bottom: darkslategray 1px solid;
    position: sticky;
    z-index: 1;
    top: 0;
}

a.active {
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}