<mat-toolbar>
  <a class="app-title" routerLink="">
    <img src="https://cdn-icons-png.flaticon.com/512/4264/4264818.png" alt="">
    <span class="title">Culinary blog</span>
  </a>
  <span class="spacer"></span>
  <nav>
    <a class="button" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a *ngIf="isLoggedIn" class="button" routerLinkActive="active" routerLink="my-recipes">My recipes</a>
    <a *ngIf="isLoggedIn" class="button" routerLinkActive="active" routerLink="saved-recipes">Saved recipes</a>
    <a *ngIf="isLoggedIn" class="button" routerLinkActive="active" routerLink="create-recipe">Create recipe</a>
    <a *ngIf="isLoggedIn" class="button" routerLinkActive="active" routerLink="notifications">Notifications</a>
    <a *ngIf="isLoggedIn" class="button" routerLinkActive="active" routerLink="edit-profile">Edit profile</a>
    <a class="button" routerLinkActive="active" routerLink="about">About</a>

    <a *ngIf="isLoggedIn; else loggedOut" class="button" (click)="logOut()">Log out</a>
    <ng-template #loggedOut>
      <a class="button" routerLink="signUp">Sign up</a>
    </ng-template>

  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

<p-toast></p-toast>