<mat-toolbar>
  <a class="app-title" routerLink="">
    <img src="https://cdn-icons-png.flaticon.com/512/4264/4264818.png" alt="">
    <span class="title">Culinary blog</span>
  </a>
  <span class="spacer"></span>
  <nav>
    <a class="button" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="button" routerLinkActive="active" routerLink="my-recepies">My recepies</a>
    <a class="button" routerLinkActive="active" routerLink="saved-recepies">Saved recepies</a>
    <a class="button" routerLinkActive="active" routerLink="create-recepie">Create recepie</a>
    <a class="button" routerLinkActive="active" routerLink="notifications">Notifications</a>
    <a class="button" routerLinkActive="active" routerLink="about">About</a>
    <a class="button" routerLinkActive="active" routerLink="signUp">Sign up</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>