<div class="root">
    <form class="content" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Sign up</h1>

        <div class="photo-picker">
            <label for="image-picker">
                <img *ngIf="form.get('photo')?.value != null" [src]="form.get('photo')?.value">
                <i *ngIf="form.get('photo')?.value == null" class="pi pi-camera"></i>
            </label>
            <input id="image-picker" type="file" (change)="fileChangeEvent($event)" accept="image/*"
                formControlName="originalPhoto" />

            <i *ngIf="form.get('photo')?.value != null" class="pi pi-times" (click)="cancelPhoto()"></i>
        </div>

        <p-dialog header="Crop your photo" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (onHide)="onHideDialog()">

            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                format="png" output="base64" (imageCropped)="imageCropped($event)"></image-cropper>

            <ng-template pTemplate="footer">
                <div class="spacer"></div>
                <p-button icon="pi pi-check" (click)="cropImage()" label="Ok" pAutoFocus [autofocus]="true"></p-button>
            </ng-template>
        </p-dialog>

        <div class="input-field">
            <label for="username">User name</label>
            <input id="username" type="text" name="username" pInputText id="username" formControlName="userName" />
            <small class="p-error" *ngIf="!isFieldValid('userName')">User name is required</small>
        </div>

        <div class="input-field">
            <label for="email">E-mail</label>
            <input pInputText formControlName="email" id="email" />
            <small class="p-error" *ngIf="!isFieldValid('email')">Please enter a valid email</small>
        </div>

        <div class="input-field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" pPassword [feedback]="false"
                formControlName="password" />
            <small class="p-error" *ngIf="!isFieldValid('password')">Password must be at least 8 characters, contain
                lower, upper case characters, at least 1 special character and 1 number</small>
        </div>

        <div class="input-field">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" name="confirmPassword" pPassword [feedback]="false"
                formControlName="confirmPassword" />
            <small class="p-error" *ngIf="!isFieldValid('confirmPassword')">Password must be at least 8 characters,
                contain lower, upper case characters, at least 1 special character and 1 number</small>
            <small class="p-error" *ngIf="passwordsDontMatch()">Passwords need to match</small>
        </div>

        <button type="button" pButton type="submit" [disabled]="!form.valid">Sign up</button>
    </form>

    <div>
        <p>Already have an account? <a routerLink="/login">Log in</a></p>
    </div>



</div>