.feed-recipe {
    flex-direction: column;
    display: flex;
    width: 285px;
    transition: 0.3s;
}

.top {
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.name {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.author {
    cursor: pointer;
}

.author:hover {
    font-weight: 500;
}

.top:hover h4 {
    text-decoration: underline;
}

img {
    aspect-ratio: 13 / 10;
    object-fit: cover;
}

.bottom-row {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.bottom-row i {
    font-size: 1rem;
    color: blue;
    cursor: pointer;
}

.pi-heart {
    margin-left: 20px;
    color: red !important;
}

::ng-deep .pi-heart-fill {
    margin-left: 20px;
    color: red !important;
}

.p-rating-star {
    color: gold;
}