.feed-recipe {
    flex-direction: column;
    display: flex;
    width: 340px;
    transition: 0.3s;
}

.top {
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.author {
    cursor: pointer;
}

.author:hover {
    font-weight: 500;
}

.top:hover h4 {
    text-decoration: underline;
}

img {
    height: 200px;
    object-fit: cover;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-row i {
    font-size: 1rem;
    color: blue;
    cursor: pointer;
}

.pi-heart {
    margin-left: 20px;
    color: red !important;
}

::ng-deep .pi-heart-fill {
    margin-left: 20px;
    color: red !important;
}