<div class="feed-recipe">
    <div class="top" routerLink="/recipe/{{recipe._id}}">
        <img [src]="recipe.imageUrl" alt="">
        <h4>{{recipe.title}}</h4>
    </div>
    <div class="bottom-row">
        <span>by <span class="author">{{recipe.author.userName}}</span></span>
        <div>
            <i *ngIf="showEdit" class="pi pi-pencil" routerLink="/edit-recipe"
                [queryParams]="{recipeId: recipe._id}"></i>
            <i [ngClass]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="triggerFavorite()"></i>
        </div>
    </div>
</div>