<div class="root">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Create a new recipe</h1>

        <div class="photo-picker">
            <label for="image-picker">
                <img *ngIf="form.get('photo')?.value != null" [src]="form.get('photo')?.value">
                <i *ngIf="form.get('photo')?.value == null" class="pi pi-camera"></i>
            </label>
            <input id="image-picker" type="file" (change)="fileChangeEvent($event)" accept="image/*"
                formControlName="originalPhoto" />
        </div>

        <p-dialog header="Crop your photo" [(visible)]="showCropModal" [modal]="true" [style]="{ width: '35rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (onHide)="onHideDialog()">

            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="13 / 10"
                format="png" output="base64" (imageCropped)="imageCropped($event)"></image-cropper>

            <ng-template pTemplate="footer">
                <div class="spacer"></div>
                <p-button icon="pi pi-check" (click)="cropImage()" label="Ok" pAutoFocus [autofocus]="true"></p-button>
            </ng-template>
        </p-dialog>

        <div class="title-root">
            <span class="p-float-label">
                <input pInputText id="title" formControlName="title" autofocus />
                <label for="title">Recipe name</label>
            </span>
        </div>

        <div class="categories">
            <app-category-selector></app-category-selector>
        </div>

        <div class="card">
            <p-editor #editor formControlName="text" [style]="{ minHeight: '350px'}"></p-editor>
        </div>

        <button type="button" pButton type="submit" [disabled]="!form.valid">Create</button>
    </form>
</div>