.root {
    margin-left: 116px;
    margin-right: 116px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    text-align: center;
}

button {
    width: 250px;
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.title-root,
.categories,
.card {
    width: 100%;
}

.photo-picker {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.photo-picker label {
    cursor: pointer;
    background-color: hsla(0, 0%, 83%, 0.462);
    width: 250px;
    aspect-ratio: 13 / 10;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.photo-picker i {
    font-size: 2.5rem;
    position: absolute;
}

.photo-picker img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.photo-picker input {
    display: none;
}

.spacer {
    height: 20px;
}

.photo-picker .pi-times {
    font-size: 1rem;
    cursor: pointer;
    transform: translate(55px, -35px);
}