.root {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

.right {
    flex-direction: column;
    display: flex;
    row-gap: 5px;
}

p-rating {}

.time {
    font-size: 12px;
    margin-bottom: 15px;
}

.review {}