<div class="root">
    <h1>{{recipe.title}}</h1>

    <img [src]="recipe.imageUrl" alt="">

    <p>by <a href="">{{recipe.author.userName}}</a></p>

    <p [innerHTML]="recipe.description"></p>

    <div class="divider"></div>

    <h3>Reviews</h3>


    <div class="add-review">
        <p>
            <span>Rate and comment</span>
            <p-rating [(ngModel)]="selectedRating" [cancel]="false"></p-rating>
        </p>
        <div class="input">
            <p-avatar [image]="currentUser.imageUrl" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <input type="text" pInputText [(ngModel)]="reviewText" />
            <p-button label="Comment"></p-button>
        </div>
    </div>

    <app-review *ngFor="let review of reviews" [review]="review" />

</div>