<div class="root">

    <div class="search-area">
        <p-multiSelect [options]="categories" placeholder="Select categories" [filter]="false" [(ngModel)]="selectedCategories" optionLabel="name"></p-multiSelect>

        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Enter name" [(ngModel)]="searchQuery" />
        </span>
    </div>


    <div class="list">
        <div *ngFor="let recipe of recipes">
            <app-feed-recipe [recipe]="recipe"></app-feed-recipe>
        </div>
    </div>
</div>